<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career</title>
    <link rel="stylesheet" href="../../../assets/static/portfolio/css/career.css">
</head>
<body>

    <div class="container">
        <div class="column">
            <img src="../../../assets/static/portfolio/images/omera.png" alt="Image 1">
            <p><h2>OMERA</h2> Android developer</p>
        </div>
        <div class="column">
            <img src="../../../assets/static/portfolio/images/icon.jpg" alt="Image 2">
            <p><h2>My website</h2> HTML, CSS and JS</p>
        </div>
        <div class="column">
            <img src="../../../assets/static/portfolio/images/noraya.png" alt="Image 3">
            <p><h2>Noraya</h2> Video editing</p>
        </div>
        <div class="column">
            <img src="../../../assets/static/portfolio/images/pumpaddicted.jpg" alt="Image 4">
            <p><h2>PumpAddicted Health & Fitness</h2> Podcast editing and content creator</p>
        </div>
        <div class="column">
            <img src="../../../assets/static/portfolio/images/lourinha.jpg" alt="Image 5">
            <p><h2>Camera Municipal da Lourinhã</h2> Image and video editing, website maintenance</p>
        </div>
    </div>

</body>
</html>