<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../assets/static/portfolio/css/uni.css">
    <title>University</title>
</head>
<body>
<img src="../../../assets/static/portfolio/images/lusofona.png" id="banner">

<h1>1st Year</h1>

<div class="container">
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/kotlin.png" alt="Image 1">
        <p>
        <h2>Programming Fundamentals</h2> Kotlin programming</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/maths.png" alt="Image 2">
        <p>
        <h2>Math I</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/discrete.jpg" alt="Image 3">
        <p>
        <h2>Discrete Mathematics</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/digital.jpg" alt="Image 4">
        <p>
        <h2>Digital Systems</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/fisics.png" alt="Image 5">
        <p>
        <h2>Fisics</h2></p>
    </div>

    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/cc.jpg" alt="Image 1">
        <p>
        <h2>Behavioral skills</h2> Presentation coaching</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/LPI.png" alt="Image 2">
        <p>
        <h2>Programming Languages I</h2> C programming</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/algebra.jpg" alt="Image 3">
        <p>
        <h2>Linear Algebra</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/maths.png" alt="Image 4">
        <p>
        <h2>Math II</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/fisics.png" alt="Image 5">
        <p>
        <h2>Fisics</h2></p>
    </div>
</div>

</body>
</html>