<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../assets/static/portfolio/css/uni.css">
    <title>University</title>
</head>
<body>

<div class="container" id="titulo">
    <div class="image">
        <img src="../../../assets/static/portfolio/images/uni-subjects/lusofona-logo.png" alt="Image">
    </div>
    <div class="text">
        <h2>Degree in Computing Engeneering</h2>
        <p>@ Universidade Lusófona de Humanidades e Tecnologias</p>
    </div>
</div>

<h1>1st Year</h1>

<div class="container">
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/kotlin.png" alt="Image 1">
        <p>
        <h2>Programming Fundamentals</h2> Kotlin programming</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/maths.png" alt="Image 2">
        <p>
        <h2>Math I</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/discrete.jpg" alt="Image 3">
        <p>
        <h2>Discrete Mathematics</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/digital.jpg" alt="Image 4">
        <p>
        <h2>Digital Systems</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/fisics.png" alt="Image 5">
        <p>
        <h2>Fisics</h2></p>
    </div>

    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/cc.jpg" alt="Image 1">
        <p>
        <h2>Behavioral skills</h2> Presentation coaching</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/LPI.png" alt="Image 2">
        <p>
        <h2>Programming Languages I</h2> C programming</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/algebra.jpg" alt="Image 3">
        <p>
        <h2>Linear Algebra</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/maths.png" alt="Image 4">
        <p>
        <h2>Math II</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/AC.jpg" alt="Image 5">
        <p>
        <h2>Computer Arquitecture</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/aed.png" alt="Image 5">
        <p>
        <h2>Data Algorithms & Structures</h2></p>
    </div>
</div>






<h1>2nd Year</h1>

<div class="container">
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/java.png" alt="Image 1">
        <p>
        <h2>Programming Languages II</h2> Java programming</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/databases.png" alt="Image 2">
        <p>
        <h2>Data Bases</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/AC2.png" alt="Image 3">
        <p>
        <h2>Advanced Computer Arquitectures</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/statistics.png" alt="Image 4">
        <p>
        <h2>Statistics and Probability</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/os.jpg" alt="Image 5">
        <p>
        <h2>Operating Systems</h2></p>
    </div>

    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/web.png" alt="Image 1">
        <p>
        <h2>Web Programming</h2> HTML, CSS, Django & JavaScript</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/cn.jpg" alt="Image 2">
        <p>
        <h2>Computer Networking</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/gc.png" alt="Image 3">
        <p>
        <h2>Computer Graphics</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/re.png" alt="Image 5">
        <p>
        <h2>Requirements Engineering</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/dss.png" alt="Image 5">
        <p>
        <h2>Decision Support Systems</h2></p>
    </div>
</div>








<h1>3rd Year</h1>

<div class="container">
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/ihm.jpg" alt="Image 1">
        <p>
        <h2>Human-Machine Interaction</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/data.jpeg" alt="Image 2">
        <p>
        <h2>Data Science</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/software.jpg" alt="Image 3">
        <p>
        <h2>Software Engeneering</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/cd.jpg" alt="Image 4">
        <p>
        <h2>Distributed Computing</h2>Web Services</p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/movel.png" alt="Image 5">
        <p>
        <h2>Mobile Computing</h2>Android & Flutter</p>
    </div>

    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/seguranca.png" alt="Image 1">
        <p>
        <h2>Computer Security</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/ai.jpg" alt="Image 2">
        <p>
        <h2>Artificial Intelligence</h2></p>
    </div>
    <div class="column">
        <img src="../../../assets/static/portfolio/images/uni-subjects/cloud.png" alt="Image 3">
        <p>
        <h2>Cloud Information Systems</h2></p>
    </div>
</div>

</body>
</html>