<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem vindo!</title>

  <link rel="stylesheet" href="assets/static/portfolio/css/index.css">

  <link rel="icon" type="image/x-icon" href="https://yt3.ggpht.com/ytc/AKedOLTtSIICccWIydxNZ3Cj3QQFukp2OukrFVzoXIdI=s600-c-k-c0x00ffffff-no-rj-rp-mo"/>

</head>

<body>
  <header>
    <p>Tomé Roque</p>
    <nav>
      <a href="index.html">Home</a>
      <a href="assets/templates/about.html">About Me</a>
      <a href="{% url 'portfolio:blog' %}">Blog</a>
      <a href="{% url 'portfolio:quizz' %}">Quizz</a>
      <a href="{% url 'portfolio:web' %}">Web</a>
      <a href="{% url 'portfolio:contactos' %}">Contactos</a>

    </nav>
  </header>

  <main>
    <p>Welcome to my Digital Portfolio!</p>
  </main>

  <article class="primeiro">
    <p><b><i>Meet Tomé Roque.</i></b> Programmer & Editor <br><br>
    Hi there! As you already know, my name is Tomé Roque. A small town boy who grew up to take a degree in computing engeneering
      while also having a passion for photo and video editing, having been involved in projects on both matters. <br>
      Living in a world where people should enjoy what they do, I also make some of my own work mainly for fun purposes.
      Have a look around my website and discover them for yourselves!
    </p>
  </article>

  <article class='segundo'>
  </article>

  <footer>
    <p>Tomé Roque ♠ Website developed in 2022 & 2023</p>

  </footer>
</body>

</html>