<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

    <link rel="stylesheet" href="../../assets/static/portfolio/css/about.css">

    <link rel="icon" type="image/x-icon"
          href="https://yt3.ggpht.com/ytc/AKedOLTtSIICccWIydxNZ3Cj3QQFukp2OukrFVzoXIdI=s600-c-k-c0x00ffffff-no-rj-rp-mo"/>

</head>

<body>
<header id="main-header">
    <p>Tomé Roque</p>
    <nav>
        <a href="{% url 'portfolio:hero' %}">Home</a>
        <a href="{% url 'portfolio:about' %}">About Me</a>
        <a href="{% url 'portfolio:blog' %}">Blog</a>
        <a href="{% url 'portfolio:quizz' %}">Quizz</a>
        <a href="{% url 'portfolio:web' %}">Web</a>
        <a href="{% url 'portfolio:contactos' %}">Contactos</a>
    </nav>
</header>

<div id="grad1">
    <div id="gradup"></div>
</div>

<div class="container">
    <img src="../../assets/static/portfolio/images/aboutImage.png" alt="Article Image">
    <div class="text">
        <h1>Who am I?</h1>
        <p id="age-paragraph"></p>
        <p>
            Always connected to all kinds of activities, ranging from football, to theater,
            to volunteering, all the way to coding, where I have found my most recent passion.
            Having been in this virtual environment since starting my journey at university and
            picking up some projects along the way that led me to who I am today.
            Throughout my journey, I have learned the importance of Cooperation, Correlation and
            Coexistence as well as life and work ethics. I am a very dedicated person, always
            giving my all on the activity I'm working on.

        </p>
    </div>


</div>
<div class="container" id="personalAbilities">
    <div class="object-container" onclick="showInfo('object1')">
        <img src="../../assets/static/portfolio/images/aboutIcons/carreira-notSelected.png" alt="Object 1">
        <p>Career</p>
    </div>

    <div class="object-container" onclick="showInfo('object2')">
        <img src="../../assets/static/portfolio/images/aboutIcons/uni-notSelected.png" alt="Object 2">
        <p>Computing Engeneering</p>
    </div>

    <div class="object-container" onclick="showInfo('object3')">
        <img src="../../assets/static/portfolio/images/aboutIcons/editor-notSelected.png" alt="Object 3">
        <p>Editor</p>
    </div>
    <div class="object-container" onclick="showInfo('object4')">
        <img src="../../assets/static/portfolio/images/aboutIcons/skills-notSelected.png" alt="Object 4">
        <p>Personal Skills</p>
    </div>


</div>
    <div class="info-container" id="info">
        <p>Click on an object to view more information.</p>
    </div>

<!--
<div class="container">
    <div class="columnImage">
        <img src="../../assets/static/portfolio/images/about.png" alt="Image">
    </div>

    <div class="columnTitle">
        <h2>About me</h2>
    </div>
    <div class="column">
        <section>
            <h3>Introduction</h3>
            <p>On this page, I will be explaining who I am, the degree I took, and where I took it.</p>
        </section>

        <section>
            <h3>Career and Projects</h3>
            <p>Here, I will share information about my career so far and all the projects I've been involved in.</p>
        </section>

        <section>
            <h3>Contact</h3>
            <p>This section will provide details on how to reach me.</p>
        </section>
    </div>
</div>
-->


</body>

<script src="../../assets/static/portfolio/js/script.js"></script>

</html>