<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

    <link rel="stylesheet" href="../../assets/static/portfolio/css/about.css">


    <link rel="icon" type="image/x-icon"
          href="https://yt3.ggpht.com/ytc/AKedOLTtSIICccWIydxNZ3Cj3QQFukp2OukrFVzoXIdI=s600-c-k-c0x00ffffff-no-rj-rp-mo"/>

</head>

<body>
<header id="main-header">
    <p>Tomé Roque</p>
    <nav>
        <a href="../../index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="{% url 'portfolio:blog' %}">Projects</a>
        <a href="{% url 'portfolio:quizz' %}">Contact</a>
    </nav>
</header>

<div id="grad1">
    <div id="gradup"></div>
</div>

<div class="container">
    <img src="../../assets/static/portfolio/images/aboutImage.png" alt="Article Image">
    <div class="text">
        <h1>Who am I?</h1>
        <p id="age-paragraph"></p>
        <p>
            Always connected to all kinds of activities, ranging from football, to theater,
            to volunteering, all the way to coding, where I have found my most recent passion.
            Having been in this virtual environment since starting my journey at university and
            picking up some projects along the way that led me to who I am today.
            Throughout my journey, I have learned the importance of Cooperation, Correlation and
            Coexistence as well as life and work ethics. I am a very dedicated person, always
            giving my all on the activity I'm working on.

        </p>
        <p>If you are interested on my work, don't hesitate to contact me:</p>

        <div class="profile-container">
            <div class="contact">
                <a href="https://www.linkedin.com/in/tom%C3%A9-roque-774752182/" target="_blank">
                    <img src="../../assets/static/portfolio/images/linkedin.png" alt="LinkedIn Icon" class="icon-image" id="firstImage">
                    <span class="name">Tomé Roque</span>
                </a>
            </div>
            <div class="contact">
                <a href="mailto:tome.roque09@gmail.com">
                    <img src="../../assets/static/portfolio/images/gmail.png" alt="Email Icon" class="icon-image">
                    <span class="email">tome.roque09@gmail.com</span>
                </a>
            </div>
        </div>

    </div>


</div>
<div class="container" id="personalAbilities">
    <div class="object-container" onclick="showInfo('object1')">
        <img id="career" src="../../assets/static/portfolio/images/aboutIcons/carreira-notSelected.png" alt="Object 1">
        <p>Career</p>
    </div>

    <div class="object-container" onclick="showInfo('object2')">
        <img id="cumputing" src="../../assets/static/portfolio/images/aboutIcons/uni-notSelected.png" alt="Object 2">
        <p>Computing Engeneering</p>
    </div>

    <div class="object-container" onclick="showInfo('object3')">
        <img id="editor" src="../../assets/static/portfolio/images/aboutIcons/editor-notSelected.png" alt="Object 3">
        <p>Editor</p>
    </div>
    <div class="object-container" onclick="showInfo('object4')">
        <img id="skills" src="../../assets/static/portfolio/images/aboutIcons/skills-notSelected.png" alt="Object 4">
        <p>Personal Skills</p>
    </div>


</div>
    <div class="info-container" id="info">
        <iframe src="" frameborder="0" width="100%" height="600" id="frame"></iframe>
    </div>

</body>

<script src="../../assets/static/portfolio/js/script.js"></script>

</html>