{% extends 'tarefas/base.html' %}

{% load static %}

{% block main %}
<h3>Comentário</h3>
    <form action="{% url 'portfolio:edita' comentario_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'portfolio:blog' %}" role="button" class="btn btn-warning">Cancelar</a>
        <input type="submit" value="Gravar" class="btn btn-success" >
        <a href="{% url 'portfolio:apaga' comentario_id %}" role="button" class="btn btn-danger">Apagar</a>
    </form>

{% endblock %}